body {
    margin: 0;
    //overflow:  hidden;
}

#fps-holder {
    display:inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#error {
    font-family: "Arial";
    background: red;
    color: white;
    white-space: pre-line;
    padding: 20px;
}
