body {
  margin: 0;
  overflow: hidden;
}

#info-hud {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  z-index: 0;
  background-color: black;
  padding: 8px;
  border-radius: 0px 0px 10px 0px;
}

#recorder-controls {
  color: white;
  vertical-align: middle;
  display: inline;
}

#recorder-controls #recorded-time {
  margin: 0px;
  padding: 0px;
  padding-left: 8px;
  font-size: 14px;
}

#recorder-controls img {
  height: 20px;
  padding-left: 8px;
}
#recorded-time {
  display: none;
}


#error {
  font-family: "Arial";
  background: red;
  color: white;
  position: fixed;
  width: 100%;
  white-space: pre-line;
  padding: 20px;
  z-index: 100;
}

#info-tooltip {
  display: block;
  position: fixed;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 50;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  padding: 8px;
  color: white;
}
